<main id="main" class="main">
  <div class="pagetitle">
    <h1>Work Orders</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Work Orders</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="container mt-4">
      <!-- Loading Spinner -->
      <div *ngIf="loading" class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- Content -->
      <div *ngIf="!loading">
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" [(ngModel)]="searchQuery" (input)="searchWorkOrders()"
              placeholder="Search work orders...">
          </div>
          <div class="col-auto">
            <button *ngIf="hasPermission('WORKORDER', 'create')" class="btn btn-primary" (click)="addWorkOrder()">
              Add Work Order
            </button>
          </div>
        </div>

        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Order Date</th>
              <th>Delivery Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let workOrder of filteredWorkOrders; trackBy: trackByIndex">
              <td>{{ workOrder.Product.name }}</td>
              <td>{{ workOrder.quantity }}</td>
              <td>{{ workOrder.createdAt | date }}</td>
              <td>{{ workOrder.deliveryDate | date }}</td>
              <td>
                <span [ngClass]="[getStatusBadgeColor(workOrder.status), 'badge']">
                  {{ workOrder.status }}
                </span>
              </td>              
              <td>
                <button class="btn btn-info btn-sm mx-1" (click)="viewWorkOrder(workOrder.id)">
                  <i class="bi bi-eye"></i>
                </button>
                <button *ngIf="hasPermission('WORKORDER', 'update') && workOrder.status !== 'Complete'"
                  class="btn btn-warning btn-sm mx-1" (click)="editWorkOrder(workOrder.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button *ngIf="hasPermission('WORKORDER', 'delete')" class="btn btn-danger btn-sm mx-1"
                  (click)="confirmDelete(workOrder.id)">
                  <i class="bi bi-trash"></i>
                </button>
                <button *ngIf="workOrder.status === 'Check quality' && hasPermission('WORKORDER', 'delete')"
                  class="btn btn-dark text-light btn-sm mx-1" (click)="openModal(workOrder.id)">
                  <i class="bi bi-building-fill-check"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="filteredWorkOrders.length === 0">
              <td colspan="7" class="text-center">No orders found.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->